Flask
Flask-Cors
gunicorn
python-dotenv
requests
stripe
waitress
wtf
aiohttp>=3.9.0
sentry-sdk[flask]
sentry-sdk[aiohttp]
prometheus-flask-exporter
werkzeug>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
Flask-SQLAlchemy
Flask-Reuploaded
passlib