<!DOCTYPE html>
<html lang="en">

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.bootstrap-touchspin.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/color.css') }}">
  <title>404</title>
  <!-- <style>
    body {
      background: #dedede;
    }

    .page-wrap {
      min-height: 100vh;
    }
  </style> -->
</head>

<body>
  <main>
    
    <header class="stick style1 w-100">
      <div class="topbar bg-color1 d-flex flex-wrap justify-content-center w-100">
        <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
          <li><i class="thm-clr flaticon-sun"></i>Sunrise At: <span class="thm-clr">{{ sunrise }}</span></li>
          <li><i class="thm-clr flaticon-moon"></i>Sunset At: <span class="thm-clr">{{ sunset }}</span></li>
        </ul>
        <div class="social-links d-inline-flex">

          <a href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook"
            target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://youtube.com/@executiveboardnia3114" title="Youtube" target="_blank"><i
              class="fab fa-youtube"></i></a>
        </div>
      </div><!-- Topbar -->
      <div class="logo-menu-wrap d-flex flex-wrap justify-content-between w-100">
        <div class="logo position-relative thm-layer opc7 back-blend-multiply thm-bg"
          style="background-image: url('/static/images/pattern-bg.jpg');">
          <h1 class="mb-0"
            style="margin-top: 0px; padding-top: 0px; font-family: Arial, sans-serif; padding-bottom: 50px;"><a
              href="{{ url_for('index') }}" title="Home"></a>Nigerian Islamic Association</h1>
        </div>
        <nav class="d-flex flex-wrap align-items-center justify-content-center">
          <div class="header-left">
            <ul class="mb-0 list-unstyled d-inline-flex">
              <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                <ul class="mb-0 list-unstyled">
                  <li><a href="{{ url_for('index') }}" title="">Home</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                <ul class="mb-0 list-unstyled">
                  <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Donation</a>
                    <ul class="mb-0 list-unstyled">
                      
                      <li><a href="{{ url_for('donation_detail') }}" title="">Donation Detail</a></li>
                    </ul>
                  </li>
                  
                  <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                    <ul class="mb-0 list-unstyled">
                      <li><a href="{{ url_for('services') }}" title="">Services</a></li>

                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                    <ul class="mb-0 list-unstyled">
                      <li><a href="{{ url_for('gallery') }}" title="">Gallery</a></li>


                    </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                    <ul class="mb-0 list-unstyled">
                      <li><a href="{{ url_for('events') }}" title="">Events</a></li>

                    </ul>
                  </li>
                  <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
                </ul>
              </li>
              <li><a href="{{ url_for('projects')}}" title="">Projects</a></li>
              <li><a href="{{ url_for('about') }}" title="">About Us</a></li>
              <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
            </ul>
          </div>
          <div class="header-right">
            <a class="thm-btn thm-bg" href="{{ url_for('donation_detail') }}" title="">Make
              Donation<span></span><span></span><span></span><span></span></a>
          </div>
        </nav>
      </div> <!--Logo Menu Wrap -->
    </header><!-- Header -->
    <div class="sticky-menu">
      <div class="container">
        <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
          <!-- <div class="logo"><h1 class="mb-0"><a href="{{ url_for('index') }}" title="Home"><img class="img-fluid" src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo" srcset="{{ url_for('static', filename='images/retina-logo3.png') }}"></a></h1></div>Logo -->
          <nav class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="header-left">
              <ul class="mb-0 list-unstyled d-inline-flex">
                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                  <ul class="mb-0 list-unstyled">
                    <li><a href="{{ url_for('index') }}" title="">Home</a></li>
                    
                    
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                  <ul class="mb-0 list-unstyled">
                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Donation</a>
                      <ul class="mb-0 list-unstyled">
                        
                        <li><a href="{{ url_for('donation_detail') }}" title="">Donation Detail</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                      <ul class="mb-0 list-unstyled">
                        <li><a href="{{ url_for('services') }}" title="">Services</a></li>

                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                      <ul class="mb-0 list-unstyled">
                        <li><a href="{{ url_for('gallery') }}" title="">Gallery</a></li>


                      </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                      <ul class="mb-0 list-unstyled">
                        <li><a href="{{ url_for('events') }}" title="">Events</a></li>

                      </ul>
                    </li>
                    <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
                  </ul>
                </li>
                <li><a href="{{ url_for('projects')}}" title="">Projects</a></li>
                <li><a href="{{ url_for('about') }}" title="">About Us</a></li>
                <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div> <!-- Sticky Menu -->
    <div class="rspn-hdr">
      <div class="rspn-mdbr">
        <div class="rspn-scil">
          <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
            <li><i class="thm-clr flaticon-sun"></i>Sunrise At: <span class="thm-clr" style="white-space: pre-line;">{{
                sunrise }}</span></li>
            <li><i class="thm-clr flaticon-moon"></i>Sunset At: <span class="thm-clr" style="white-space: pre-line;">{{
                sunset }}</span></li>
          </ul>
          <br>
          <a href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook"
            target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://youtube.com/@executiveboardnia3114" title="Youtube" target="_blank"><i
              class="fab fa-youtube"></i></a>

        </div>
      </div>
      <div class="lg-mn">
        <!-- <div class="logo"><a href="{{ url_for('index') }}" title="Home"><img src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo"></a></div> -->
        <div class="rspn-cnt">
          <span><i class="thm-clr far fa-envelope"></i><a href="javascript:void(0);"
              title="">niaexecutiveboard@gmail.com</a></span>
          <span><i class="thm-clr fas fa-phone-alt"></i>773 665 2451</span>
        </div>
        <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
      </div>
      <div class="rsnp-mnu">
        <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
        <ul class="mb-0 list-unstyled w-100">
          <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
            <ul class="mb-0 list-unstyled">
              <li><a href="{{ url_for('index') }}" title="">Home</a></li>
              
        
            </ul>
          </li>
          <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
            <ul class="mb-0 list-unstyled">
              <!-- <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Donation</a>
                          <ul class="mb-0 list-unstyled">
                              <li><a href="{{ url_for('urgent_donation') }}" title="">Urgent Donation</a></li>
                              <li><a href="{{ url_for('donation_detail') }}" title="">Donation Detail</a></li>
                          </ul>
                      </li> -->
              <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                <ul class="mb-0 list-unstyled">
                  <li><a href="{{ url_for('services') }}" title="">Services</a></li>

                </ul>
              </li>
              <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                <ul class="mb-0 list-unstyled">
                  <li><a href="{{ url_for('gallery') }}" title="">Gallery</a></li>


                </ul>
              </li>

              <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
            <ul class="mb-0 list-unstyled">
              <li><a href="{{ url_for('events') }}" title="">Events</a></li>

            </ul>
          </li>
          <li><a href="{{ url_for('donation_detail') }}" title="">Donation</a></li>
          <li><a href="{{ url_for('projects')}}" title="">Projects</a></li>
          <li><a href="{{ url_for('about') }}" title="">About Us</a></li>
          <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
        </ul>
      </div><!-- Responsive Menu -->
    </div><!-- Responsive Header -->
    <div class="container">
      <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12 text-center">
              <span class="display-1 d-block">404</span>
              <div class="mb-4 lead">The page you are looking for was not found.</div>
              <a href="{{ url_for('index') }}" class="btn btn-link">Back to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/counterup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.bootstrap-touchspin.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/musicplayer-min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/google-map-int.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom-scripts.js') }}"></script>
</body>

</html>