<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" sizes="35x35" type="image/png">
        <title>NIA - Nigerian Islamic Association</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery.bootstrap-touchspin.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/perfect-scrollbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/color.css') }}">
    </head>
    <body>
        <main>
            <div id="preloader">            
                <div class="preloader-inner">
                    <i class="preloader-icon thm-clr flaticon-kaaba"></i>
                </div>
            </div><!-- Page Loader -->
            <header class="stick style1 w-100">
                <div class="topbar bg-color1 d-flex flex-wrap justify-content-center w-100">
                    <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                        <li><i class="thm-clr flaticon-sun"></i>Sunrise At: <span class="thm-clr">{{ sunrise }}</span></li>
                        <li><i class="thm-clr flaticon-moon"></i>Sunset At: <span class="thm-clr">{{ sunset }}</span></li>
                    </ul>
                    <div class="social-links d-inline-flex">
                        
                        <a href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://youtube.com/@executiveboardnia3114" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        
                        
                    </div>
                </div><!-- Topbar -->
                <div class="logo-menu-wrap d-flex flex-wrap justify-content-between w-100">
                    <div class="logo position-relative thm-layer opc7 back-blend-multiply thm-bg" style="background-image: url('/static/images/pattern-bg.jpg');"><h1 class="mb-0" style="margin-top: 0px; padding-top: 0px; font-family: Arial, sans-serif; padding-bottom: 50px;"><a href="{{ url_for('index') }}" title="Home"></a>Nigerian Islamic Association</h1></div>
                    <nav class="d-flex flex-wrap align-items-center justify-content-center">
                        <div class="header-left">
                            <ul class="mb-0 list-unstyled d-inline-flex">
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="{{ url_for('index') }}" title="">Home</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Donation</a>
                                            <ul class="mb-0 list-unstyled">
                                                <!-- <li><a href="{{ url_for('urgent_donation') }}" title="">Urgent Donation</a></li> -->
                                                <li><a href="{{ url_for('donation_detail') }}" title="">Donation Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="{{ url_for('services') }}" title="">Services</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="{{ url_for('gallery') }}" title="">Gallery</a></li>
                                                
                                                
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="{{ url_for('events') }}" title="">Events</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('projects')}}" title="">Projects</a></li>
                                <li><a href="{{ url_for('about') }}" title="">About Us</a></li>
                                <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="header-right">
                            <a class="thm-btn thm-bg" href="{{ url_for('donation_detail') }}" title="">Make Donation<span></span><span></span><span></span><span></span></a>
                        </div>
                    </nav>
                </div> <!--Logo Menu Wrap -->
            </header><!-- Header -->
            <div class="sticky-menu">
                <div class="container">
                    <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
                        <!-- <div class="logo"><h1 class="mb-0"><a href="{{ url_for('index') }}" title="Home"><img class="img-fluid" src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo" srcset="{{ url_for('static', filename='images/retina-logo3.png') }}"></a></h1></div>Logo -->
                        <nav class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="header-left">
                                <ul class="mb-0 list-unstyled d-inline-flex">
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="{{ url_for('index') }}" title="">Home</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Donation</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <!-- <li><a href="{{ url_for('urgent_donation') }}" title="">Urgent Donation</a></li> -->
                                                    <li><a href="{{ url_for('donation_detail') }}" title="">Donation Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="{{ url_for('services') }}" title="">Services</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="{{ url_for('gallery') }}" title="">Gallery</a></li>
                                                    
                                                    
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="{{ url_for('events') }}" title="">Events</a></li>
                                                    
                                                </ul>
                                            </li>
                                            <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{ url_for('projects')}}" title="">Projects</a></li>
                                    <li><a href="{{ url_for('about') }}" title="">About Us</a></li>
                                    <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div> <!-- Sticky Menu -->
            <div class="rspn-hdr">
                <div class="rspn-mdbr">
                    <div class="rspn-scil">
                        <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                            <li><i class="thm-clr flaticon-sun"></i>Sunrise At: <span class="thm-clr" style="white-space: pre-line;">{{ sunrise }}</span></li>
                            <li><i class="thm-clr flaticon-moon"></i>Sunset At: <span class="thm-clr" style="white-space: pre-line;">{{ sunset }}</span></li>
                        </ul>
                        <br>
                        <a href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://youtube.com/@executiveboardnia3114" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        
                    </div>
                    
                        
                        
                    </form>
                </div>
                <div class="lg-mn">
                    <!-- <div class="logo"><a href="{{ url_for('index') }}" title="Home"><img src="{{ url_for('static', filename='images/logo3.png') }}" alt="Logo"></a></div> -->
                    <div class="rspn-cnt">
                        <span><i class="thm-clr far fa-envelope"></i><a href="javascript:void(0);" title="">niaexecutiveboard@gmail.com</a></span>
                        <span><i class="thm-clr fas fa-phone-alt"></i>773 665 2451</span>
                    </div>
                    <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
                </div>
                <div class="rsnp-mnu">
                    <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
                    <ul class="mb-0 list-unstyled w-100">
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="{{ url_for('index') }}" title="">Home</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                            <ul class="mb-0 list-unstyled">
                                <!-- <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Donation</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="{{ url_for('urgent_donation') }}" title="">Urgent Donation</a></li>
                                        <li><a href="{{ url_for('donation_detail') }}" title="">Donation Detail</a></li>
                                    </ul>
                                </li> -->
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="{{ url_for('services') }}" title="">Services</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="{{ url_for('gallery') }}" title="">Gallery</a></li>
                                        
                                        
                                    </ul>
                                </li>
                                <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="{{ url_for('events') }}" title="">Events</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="{{ url_for('donation_detail') }}" title="">Donation</a></li>
                        <li><a href="{{ url_for('projects')}}" title="">Projects</a></li>
                        <li><a href="{{ url_for('about') }}" title="">About Us</a></li>
                        <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
                    </ul>
                </div><!-- Responsive Menu -->
            </div><!-- Responsive Header -->
            <section>
                <div class="w-100 pt-80 black-layer pb-70 opc65 position-relative">
                    <div class="fixed-bg" style="background-image: url({{ url_for('static', filename='images/page-title-bg.jpg') }});"></div>
                    <div class="container">
                        <div class="page-title-wrap text-center w-100">
                            <div class="page-title-inner d-inline-block">
                                <h1 class="mb-0">Contact Us</h1>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="{{ url_for('index') }}" title="Home">NIA - Home</a></li>
                                    <li class="breadcrumb-item active">Contact Us</li>
                                </ol>
                            </div>
                        </div><!-- Page Title Wrap -->
                    </div>
                </div>
            </section>
            <section>
                <div class="w-100 pt-120 pb-260 position-relative">
                    <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="{{ url_for('static', filename='images/sec-botm-mckp.png') }}" alt="Sec Bottom Mockup">
                    <div class="container">
                        <div class="post-detail-wrap w-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-9">
                                    <div class="post-detail-inner w-100">
                                        <div class="post-detail-img mb-0 w-100">
                                            <img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/event_detail-img1.jpg') }}" alt="Blog Detail Image 1">
                                        </div>
                                        <div class="event_detail-info d-flex flex-wrap pat-bg gray-layer opc85 position-relative back-blend-multiply gray-bg w-100" style="background-image: url('/static/images/pattern-bg.jpg');">
                                            <div class="event_detail-info-inner">
                                                <span class="d-block thm-clr"><i class="fas fa-map-marker"></i>Times Square, New York</span>
                                                <h2 class="mb-0">Ramadan, A Month Of Blessing</h2>
                                                <div class="event_detail-price-button d-flex flex-wrap">
                                                    <div class="event_detail-price-button-inner">
                                                        <span class="d-block thm-clr"><i class="fas fa-clock"></i>8:47am - 10:00am</span>
                                                        <span class="price d-block"><sup>$</sup>15.00<small>BOOKING PRICE</small></span>
                                                    </div>
                                                    <div class="event_detail-price-button-inner">
                                                        <a class="thm-btn bg-color1" href="javascript:void(0);" title="">BUY TICKET<span></span><span></span><span></span><span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="event_detail-info-inner">
                                                <h4 class="mb-0">ORGANIZER:</h4>
                                                <ul class="mb-0 list-unstyled w-100">
                                                    <li class="thm-clr"><i class="far fa-user"></i>By <a href="javascript:void(0);" title="">Zaymund Alex</a></li>
                                                    <li class="thm-clr"><span class="d-block">PHONE:</span>795-622-310</li>
                                                    <li class="thm-clr"><span class="d-block">EMAIL:</span><a href="javascript:void(0);" title="">yoursite@example.com</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="post-detail-desc w-100">
                                            <p class="mb-0">Lorem ipsum dolor sit amProvide rehab facility dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p class="mb-0">Doctors and medical officers sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliq uip ex ea commodo consequat.</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate.exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat. Duis aute irure dolorin reprehenderit in voluptate.Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui officia deserunt mollit anim id estsunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do enim ad minim veniam, quis nostrud exerci tation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate. is nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehende.</p>
                                        </div>
                                        <div class="speaker-wrap w-100">
                                            <h3 class="mb-0">EVENT SPEAKERS:</h3>
                                            <div class="speaker-inner res-row w-100">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                                        <div class="team-box text-center w-100">
                                                            <div class="team-img overflow-hidden position-relative w-100">
                                                                <img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/team-img1-1.jpg') }}" alt="Team Image 1">
                                                                <div class="social-links2 text-center d-inline-flex position-absolute">
                                                                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                                    <a class="twitter" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                                                    <a class="youtube" href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="team-info">
                                                                <h3 class="mb-0"><a href="javascript:void(0);" title="">M. Ishaq</a></h3>
                                                                <span class="d-block thm-clr">Scholar</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                                        <div class="team-box text-center w-100">
                                                            <div class="team-img overflow-hidden position-relative w-100">
                                                                <img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/team-img1-2.jpg') }}" alt="Team Image 2">
                                                                <div class="social-links2 text-center d-inline-flex position-absolute">
                                                                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                                    <a class="twitter" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                                                    <a class="youtube" href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="team-info">
                                                                <h3 class="mb-0"><a href="javascript:void(0);" title="">Dorri-Najafabadi</a></h3>
                                                                <span class="d-block thm-clr">Scholar</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                                        <div class="team-box text-center w-100">
                                                            <div class="team-img overflow-hidden position-relative w-100">
                                                                <img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/team-img1-3.jpg') }}" alt="Team Image 3">
                                                                <div class="social-links2 text-center d-inline-flex position-absolute">
                                                                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100064565504879&mibextid=ZbWKwL" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                                    <a class="twitter" href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                                                    <a class="youtube" href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="team-info">
                                                                <h3 class="mb-0"><a href="javascript:void(0);" title="">M. Ebrahim</a></h3>
                                                                <span class="d-block thm-clr">Mufti</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- Speakers Wrap -->
                                        <div class="event-loc-wrap w-100">
                                            <h3 class="mb-0">LOCATION:</h3>
                                            <div class="event-loc2 w-100" id="event-loc2"></div>
                                        </div><!-- Event Location Wrap -->
                                        <div class="event-booking-form-wrap pat-bg gray-layer opc85 position-relative back-blend-multiply gray-bg w-100" style="background-image: url('/static/images/pattern-bg.jpg');">
                                            <h3 class="mb-0">Event Booking Form:</h3>
                                            <ul class="event-form-info-list mb-0 list-unstyled w-100">
                                                <li><p class="mb-0">Event Bookings, Please bring your identity card along with Hard Copy of this Booking slip. Order Processing will take around 2 Days.</p></li>
                                                <li><span>Price:</span><span>$15.00</span></li>
                                                <li><span>Spaces:</span><span><div class="qty-wrap"><input class="qty" type="text" value="50"></div></span></li>
                                            </ul>
                                            <form class="event-booking-form w-100">
                                                <div class="row mrg10">
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <input type="text" placeholder="Your Name">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                                        <input type="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                                        <input type="tel" placeholder="Phone No">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <textarea placeholder="Comment"></textarea>
                                                        <span class="d-block position-relative"><input type="checkbox" id="agrement"><label for="agrement" class="mb-0">I consent to my submitted data being collected and stored as outlined by the site.</label></span>
                                                        <button class="thm-btn thm-bg" type="submit">Send Your Booking<span></span><span></span><span></span><span></span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!-- Event Booking Form Wrap -->
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-3">
                                    <aside class="sidebar w-100">
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">RECENT POSTS</h3>
                                            <div class="mini-posts-wrap w-100">
                                                <div class="mini-post-box d-flex flex-wrap w-100">
                                                    <a href="{{ url_for('blog_detail') }}" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/mini-post-img1.jpg') }}" alt="Mini Post Image 1"></a>
                                                    <div class="mini-post-info">
                                                        <span class="d-block thm-clr">Mar 20, 2020</span>
                                                        <h4 class="mb-0"><a href="{{ url_for('blog_detail') }}" title="">This is How I Relax on Lazy Sundays</a></h4>
                                                    </div>
                                                </div>
                                                <div class="mini-post-box d-flex flex-wrap w-100">
                                                    <a href="{{ url_for('blog_detail') }}" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/mini-post-img2.jpg') }}" alt="Mini Post Image 2"></a>
                                                    <div class="mini-post-info">
                                                        <span class="d-block thm-clr">Jun 18, 2020</span>
                                                        <h4 class="mb-0"><a href="{{ url_for('blog_detail') }}" title="">Going Shopping in New Dress & a Hat</a></h4>
                                                    </div>
                                                </div>
                                                <div class="mini-post-box d-flex flex-wrap w-100">
                                                    <a href="{{ url_for('blog_detail') }}" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/mini-post-img3.jpg') }}" alt="Mini Post Image 3"></a>
                                                    <div class="mini-post-info">
                                                        <span class="d-block thm-clr">Jul 25, 2020</span>
                                                        <h4 class="mb-0"><a href="{{ url_for('blog_detail') }}" title="">How an Island Forms in River And Stones</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">CATEGORIES</h3>
                                            <ul class="cate-list mb-0 list-unstyled w-100">
                                                <li><a href="javascript:void(0);" title="">Lifestyle</a>( 120 )</li>
                                                <li><a href="javascript:void(0);" title="">Fashion</a>( 14 )</li>
                                                <li><a href="javascript:void(0);" title="">Photography</a>( 43 )</li>
                                                <li><a href="javascript:void(0);" title="">Creative</a>( 20 )</li>
                                                <li><a href="javascript:void(0);" title="">Travel</a>( 10 )</li>
                                                <li><a href="javascript:void(0);" title="">Electronics</a>( 70 )</li>
                                            </ul>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">USEFUL LINKS</h3>
                                            <ul class="mb-0 list-unstyled w-100">
                                                <li><a href="javascript:void(0);" title="">Our Founder</a></li>
                                                <li><a href="javascript:void(0);" title="">Education</a></li>
                                                <li><a href="javascript:void(0);" title="">Entrepreneurship</a></li>
                                                <li><a href="javascript:void(0);" title="">Child Education</a></li>
                                                <li><a href="javascript:void(0);" title="">Grants</a></li>
                                            </ul>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">RECENT CAUSES</h3>
                                            <div class="mini-cause-wrap w-100">
                                                <div class="mini-cause-box position-relative w-100">
                                                    <img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/mini-cause-img1.jpg') }}" alt="Mini Cause Image 1">
                                                    <div class="mini-cause-info position-absolute">
                                                        <h4 class="mb-0"><a href="{{ url_for('donation_detail') }}" title="">Help Water Retention</a></h4>
                                                        <span class="d-block thm-clr"><i>50% of</i> $500,000 Goal</span>
                                                    </div>
                                                </div>
                                                <div class="mini-cause-box position-relative w-100">
                                                    <img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/mini-cause-img2.jpg') }}" alt="Mini Cause Image 2">
                                                    <div class="mini-cause-info position-absolute">
                                                        <h4 class="mb-0"><a href="{{ url_for('donation_detail') }}" title="">Povert People Save</a></h4>
                                                        <span class="d-block thm-clr"><i>65% of</i> $450,000 Goal</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget2 w-100">
                                            <div class="newsletter-widget text-center w-100 pat-bg thm-layer opc7 position-relative back-blend-multiply thm-bg" style="background-image: url('/static/images/pattern-bg.jpg');">
                                                <h4>Subscribe Now to Get Daily Updates.</h4>
                                                <form class="w-100">
                                                    <input type="email" placeholder="Enter your Email here">
                                                    <button class="thm-btn bg-color1" type="submit"><i class="far fa-envelope"></i>Subscribe Now<span></span><span></span><span></span><span></span></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">INSTAGRAM</h3>
                                            <div class="insta-wrap w-100">
                                                <ul class="insta-list mb-0 d-flex flex-wrap list-unstyled w-100">
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/insta-img1.jpg') }}" alt="Instagram Image 1"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/insta-img2.jpg') }}" alt="Instagram Image 2"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/insta-img3.jpg') }}" alt="Instagram Image 3"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/insta-img4.jpg') }}" alt="Instagram Image 4"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/insta-img5.jpg') }}" alt="Instagram Image 5"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="{{ url_for('static', filename='images/resources/insta-img6.jpg') }}" alt="Instagram Image 6"></a></li>
                                                </ul>
                                                <div class="insta-bottom d-flex flex-wrap align-items-center justify-content-between w-100">
                                                    <div class="insta-bottom-inner">
                                                        <span class="d-block">INSTAGRAM</span>
                                                        <h5 class="mb-0">@WEBSROAD</h5>
                                                    </div>
                                                    <div class="insta-bottom-inner">
                                                        <a class="thm-btn thm-bg" href="javascript:void(0);" title="">Follow Me<span></span><span></span><span></span><span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside><!-- Sidebar -->
                                </div>
                            </div>
                        </div><!-- Post Detail Wrap -->
                    </div>
                </div>
            </section>
            <footer>
                <div class="w-100 pt-100 dark-layer pb-50 opc85 position-relative">
                    <div class="fixed-bg patern-bg back-blend-multiply dark-bg" style="background-image: url('/static/images/pattern-bg.jpg');"></div>
                    <div class="container">
                        <div class="footer-data w-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-3">
                                    <div class="widget w-100">
                                        <!--- <div class="logo"><h1 class="mb-0"><a href="{{ url_for('index') }}" title="Home"><img class="img-fluid" src="{{ url_for('static', filename='images/logo2.png') }}" alt="Logo" srcset="{{ url_for('static', filename='images/default.png') }}"></a></h1></div> --->
                                        <p class="mb-0">Our mission is to propagate the teachings and practices of Islam among mankind in accordance with the teachings of the Holy Quran and the traditions of the Prophet Muhammad (SAW). <br>
 Our purpose to propagate the teachings and principles of Islam, to further the education, social, cultural and charitable interests of Islamic communities and mankind and to promote the general welfare of all.</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-9">
                                    <div class="row justify-content-between">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <h4 class="widget-title">Information</h4>
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <!-- <li><a href="{{ url_for('online_courses') }}" title="">Online Courses</a></li> -->
                                                            <li><a href="{{ url_for('audio_listening') }}" title="">Quran Recitation</a></li>
                                                            <!-- <li><a href="{{ url_for('blog') }}" title="">Our Blog</a></li> -->
                                                            <li><a href="{{ url_for('events') }}" title="">Our Events</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <h4 class="widget-title">Contact Info</h4>
                                                        <ul class="cont-info-list2 mb-0 list-unstyled w-100">
                                                            <li><i class="thm-clr">P:</i>773 665 2451</li>
                                                            <li><i class="thm-clr">E:</i><a href="javascript:void(0);" title="">niaexecutiveboard@gmail.com</a></li>
                                                            <li>932 W Sheridan Rd, Chicago, Illinois, USA</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-lg-5">
                                            <h4 class="widget-title">Let Us Help You</h4>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="{{ url_for('about') }}" title="">About NIA</a></li>
                                                            <!-- <li><a href="{{ url_for('urgent_donation') }}" title="">Urgent Donation</a></li> -->
                                                            <li><a href="{{ url_for('services') }}" title="">Our Services</a></li>
                                                            <!-- <li><a href="{{ url_for('sermons') }}" title="">Our Sermons</a></li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <!-- <li><a href="{{ url_for('products') }}" title="">Our Products</a></li> -->
                                                            <!--- <li><a href="{{ url_for('scholar_style1') }}" title="">Our Scholars</a></li> -->
                                                            <li><a href="{{ url_for('contact') }}" title="">Contact Us</a></li>
                                                            <li><a href="{{ url_for('gallery') }}" title="">NIA Gallery</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Footer Data -->
                    </div>
                </div>
            </footer><!-- Footer -->
            <div class="bottom-bar dark-bg2 text-center w-100">
                <p class="mb-0"><a href="{{ url_for('index') }}" title="Home">NIA</a> - Copyright 2023. Design by <a href="https://themeforest.net/user/nauthemes/portfolio" title="Nauthemes" target="_blank">Nauthemes</a></p>
            </div><!-- Bottom Bar -->
        </main><!-- Main Wrapper -->

        <script src="{{ url_for('static', filename='/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/counterup.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.fancybox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/jquery.bootstrap-touchspin.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/perfect-scrollbar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/slick.min.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='/js/particles.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/particle-int.js') }}"></script> -->
        <script src="{{ url_for('static', filename='/js/musicplayer-min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/ResizeSensor.min.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/theia-sticky-sidebar.min.js') }}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYc537bQom7ajFpWE5sQaVyz1SQa9_tuY&callback=initMap"></script>
        <script src="{{ url_for('static', filename='/js/google-map-int2.js') }}"></script>
        <script src="{{ url_for('static', filename='/js/custom-scripts.js') }}"></script>
    </body>	
</html>